.mainFxmlClass {

-fx-background-color: #777777;
}
:focused {
  -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}
.button {
  -fx-background-radius: 0px;
}

:focused {
    -fx-focus-color: transparent;
}

.titled-pane {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}